node_modules/
.bundle/
vendor/bundle/
.gradle/
build/
android/app/build/
android/.gradle/
ios/Pods/
ios/build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.expo/
.env
.env.*
!.env.example
