node_modules/
.DS_Store
*.hprof
.gradle/
build/
local.properties
*.keystore
!debug.keystore
ios/Pods/
ios/build/
*.xcworkspace
*.xcodeproj/xcuserdata
DerivedData
*.hmap
*.ipa
.env
.env.local
.metro-health-check*
